<template>
  <div class="home" @click="stage.onClick">
    <input
      v-model="state.inputs['glabsId']"
      class="input"
      id="glabsId"
      data-layout="basic"
      placeholder="Tap on the virtual keyboard to start"
      @focus="stage.onFocus"
    />
    <input
      v-model="state.inputs['transportId']"
      class="input"
      id="transportId"
      data-layout="basic"
      placeholder="Tap on the virtual keyboard to start"
      @focus="stage.onFocus"
    />
    <p>hahaa</p>
    <input
      v-model="state.inputs['phoneNumber']"
      class="input"
      id="phoneNumber"
      placeholder="Tap on the virtual keyboard to start"
      data-layout="numeric"
      @focus="stage.onFocus"
    />
  </div>
</template>

<script>
import keyboardhandler from "../keyboardhandler";
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
  mounted() {
    keyboardhandler.setInputName("glabsId");
    let inputs = {
      glabsId: "glabsId",
      transportId: "transportId",
      phoneNumber: "phoneNumber",
    };
    keyboardhandler.setInputs(inputs);
  },
  data() {
    return {
      state: keyboardhandler.state,
      typing: false,
    };
  },
  methods: {
    onClick(event) {
      console.log(event.target);
      if (!event.target.classList.contains("input")) {
        this.state.show = false;
      }
    },
    change(event) {
      console.log(event);
    },
  },
};
</script>
<style>
input {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
  color: red;
  display: inline-block;
}

.simple-keyboard {
  max-width: 850px;
}

/*
  Theme: myTheme1
*/
.simple-keyboard.myTheme1 {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: #1c4995;
  color: white;
}

#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: #1c4995;
}
</style>