<template>
  <div :class="keyboardClass"></div>
</template>

<script>
import keyboardhandler from "../keyboardhandler";
import Keyboard from "simple-keyboard";
import "simple-keyboard/build/css/index.css";

export default {
  name: "SimpleKeyboard",
  props: {
    keyboardClass: {
      default: "simple-keyboard",
      type: String,
    },
    input: {
      type: String,
    },
    theme: String,
    layoutType: String,
  },
  data: () => ({
    keyboard: null,
    stage: keyboardhandler.state,
  }),
  mounted() {
    this.renderKeyboard();
  },
  methods: {
    //
    renderKeyboard() {
      if (this.keyboard) {
        this.keyboard.destroy();
      }
      this.keyboard = new Keyboard({
        onChange: this.onChange,
        onKeyPress: this.onKeyPress,
        theme: this.theme,
        layout: this.stage.layouts[this.layoutType],
      });
      let val = this.stage.inputName;
      let inputstr = this.stage.inputs[val];
      this.keyboard.setInput(inputstr);
    },
    //
    onChange(input) {
      this.$emit("onChange", input);
    },
    onKeyPress(button) {
      this.stage.show = true;
      this.$emit("onKeyPress", button);
      /**
       * If you want to handle the shift and caps lock buttons
       */
      if (button === "{shift}" || button === "{lock}") this.handleShift();
    },
    handleShift() {
      let currentLayout = this.keyboard.options.layoutName;
      let shiftToggle = currentLayout === "english" ? "numeric" : "english";

      this.keyboard.setOptions({
        layoutName: shiftToggle,
      });
    },
  },
  watch: {
    layoutType() {
      this.renderKeyboard();
    },
    input(input) {
      this.keyboard.setInput(input);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>