<template>
  <router-view />
  <button @click="test">hahah</button>

  <SimpleKeyboard
    v-show="state.show"
    @onChange="onChange"
    @onKeyPress="onKeyPress"
    :input="state.inputs[state.inputName]"
    :inputName="state.inputName"
    :theme="theme"
    :layoutType="state.layoutType"
  />
</template>

<script>
import SimpleKeyboard from "./components/SimpleKeyboard.vue";
import keyboardhandler from "./keyboardhandler";

export default {
  components: {
    SimpleKeyboard,
  },
  data: () => ({
    theme: "hg-theme-default myTheme1",
    state: keyboardhandler.state,
  }),
  created() {},
  mounted() {},
  methods: {
    test() {
      console.log("test variables");
      console.log(this.state.inputs["glabsId"]);
      console.log(this.state.inputs["transportId"]);

      this.state.layoutType =
        this.state.layoutType == "basic" ? "numeric" : "basic";
    },
    onChange(input) {
      keyboardhandler.setInput(input);
    },
    onKeyPress(button) {
      console.log("button", button);
      keyboardhandler.setTyping(true);
    },
  },
};
</script>



<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
